<%= form_with(model: [@category || @task.category, @task]) do |f| %>
  <% if @task.errors.any? %>
    <div class="error-explanation">
      <h3>Oops! Please fix these errors:</h3>
      <ul>
        <% @task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field <%= 'field-with-errors' if @task.errors[:title].any? %>">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field <%= 'field-with-errors' if @task.errors[:description].any? %>">
    <%= f.label :description %>
    <%= f.text_area :description, rows: 4 %>
  </div>

  <div class="field <%= 'field-with-errors' if @task.errors[:due_date].any? %>">
    <%= f.label :due_date %>
    <%= f.date_field :due_date %>
  </div>

  <% if @task.persisted? %>
    <div class="field <%= 'field-with-errors' if @task.errors[:completed].any? %>">
      <%= f.check_box :completed %>
      <%= f.label :completed %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
    <%= link_to "Cancel", @task.persisted? ? [@task.category, @task] : (@category || categories_path) %>
  </div>
<% end %>