<h1>Editing Task</h1>

<%= form_with(model: @task) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :due_date %>
    <%= form.date_field :due_date %>
  </div>

  <div>
    <%= form.label :completed %>
    <%= form.check_box :completed %>
  </div>

  <div>
    <%= form.label :category_id %>
    <%= form.collection_select :category_id, @categories, :id, :title, include_blank: true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Show', @task %> |
<%= link_to 'Back', tasks_path %>