<nav class="navbar">
  <%= link_to "Journal App", root_path, class: "navbar-brand" %>

  <div>
    <% if user_signed_in? %>
      <%= link_to "Dashboard", today_tasks_path, class: "nav-link #{'active' if current_page?(today_tasks_path)}" %>
      <%= link_to "Categories", categories_path, class: "nav-link #{'active' if current_page?(categories_path)}" %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "nav-link" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link #{'active' if current_page?(new_user_session_path)}" %>
      <%= link_to "Register", new_user_registration_path, class: "nav-link #{'active' if current_page?(new_user_registration_path)}" %>
    <% end %>
  </div>
</nav>